# Advanced Programming Assignment - 13

#### 1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

In [15]:
def remove_letters(lst, s):
    l = [i for i in s]
    
    for i in l:
        if i in lst:
            lst.remove(i)
        else:
            pass
                 
    print(lst)
        
remove_letters(["s","t","r","i","n","g","w"],"string")
remove_letters(["b","b","l","l","g","n","o","a","w"],"balloon")
remove_letters(["d","b","t","e","a","i"],"edabit")

['w']
['b', 'g', 'w']
[]

#### 2. A block sequence in three dimensions. We can write a formula for this one: Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

In [20]:
def blocks(x):
    s = 3 * (x - 1)
    n = x + 2
    
    while n > 1:
        s +=  n
        n = n - 1
        
    print(s)
    
blocks(1)
blocks(5)
blocks(2)

5
39
12

#### 3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

In [27]:
def my_sub(a, b):
    
    if a > b:
        pass
    else:
        a, b = b, a
        
    while b != 0:
        d = ~ a & b
        a = a ^ b
        b = d << 1
        
    print(a)
    
my_sub(5, 9)
my_sub(10, 30)
my_sub(0, 0)

4
20
0

#### 4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

In [36]:
def add_bill(s):
    
    l = s.split(",")
    s = 0
    
    for i in l:
        if 'd' in i:
            i = i.replace('d','')
            if 'k' in i: 
                s = s + int(i.replace('k','')) * 1000
            else:
                s = s + int(i)
        else:
            pass
    
    print(s)
           
add_bill("d20,p40,p60,d50")
add_bill("p30,d20,p60,d150,p360")
add_bill("p30,d2k,p60,d200,p360")

70
170
2200

#### 5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.
#### In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

In [68]:
def flip_list(lst):
    
    if len(lst) > 0 :
        if isinstance(lst[0], list):
            l = [i[0] for i in lst]
        else:
            l = [[i] for i in lst]
        print(l)
    else:
        print(lst)
        
    
flip_list([1, 2, 3, 4])
flip_list([[5], [6], [9]])
flip_list([])

[[1], [2], [3], [4]]
[5, 6, 9]
[]