# Assignment - 23

#### 1. Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [4]:
def is_symmetrical(num):
    
    rev_num = str(num)[::-1]
    
    if str(num) == rev_num:
        print(True)
    else:
        print(False)
        
is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

True
False
True
False
True

   #### 2. Given a string of numbers separated by a comma and space, return the product of the numbers.

In [7]:
def multiply_nums(num_str):
    p = 1
    l = num_str.split(", ")
    
    for i in l:
        p = p * int(i)
        
    print(p)
    
multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("10, -2")

6
24
0
-20

#### 3. Create a function that squares every digit of a number.

In [12]:
def square_digits(num):
    
    lst = [i for i in str(num)]
    sq_lst = []
    
    for i in lst:
        sq = int(i)**2
        sq = str(sq)
        sq_lst.append(sq)
    
    join_str = "".join(sq_lst)
    fin_num = int(join_str)
    print(fin_num)
    
square_digits(9119)
square_digits(2483)
square_digits(3212)

811181
416649
9414

#### 4. Create a function that sorts a list and removes all duplicate items from it.

In [13]:
def setify(lst):
    
    new_lst = []
    
    for i in lst:
        if i not in new_lst:
            new_lst.append(i)
        else:
            pass
    
    print(new_lst)

setify([1, 3, 3, 5, 5])
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[3, 2, 1]

#### 5. Create a function that returns the mean of all digits.

In [16]:
def mean(num):
    
    num_str = str(num)
    s = 0
    l = len(num_str)
    
    for i in num_str:
        s += int(i)
        
    m = int(s/l)
    
    print(m)
    
mean(42)
mean(12345)
mean(666)
mean(512)

3
3
6
2