# **Assignment - 9**

1. Write an SQL query to show the top n (say 10) records of a table.



```

SELECT TOP 10 *
FROM Worker


```

2. Write an SQL query to determine the nth (say n=5) highest salary from a table.



```

SELECT MAX(Salary) AS '5th Highest Salary'
FROM Worker
WHERE Salary NOT IN
(SELECT DISTINCT TOP 4 (Salary)
FROM Worker
ORDER BY Salary DESC)


```