# **Assignment - 8**

Creating a new table Worker2 for this exercise.



```
CREATE TABLE Worker2 (ID INT PRIMARY KEY IDENTITY(1,1),
					 First_Name VARCHAR(20) NOT NULL,
					 Last_Name VARCHAR(20),
					 Email VARCHAR(40),
					 Department VARCHAR(20) NOT NULL,
					 Salary INT,
					 Joining_Date DATE)


```



```
INSERT INTO Worker2 VALUES 
('Ankita','Hazarika','ankitahaz@gmail.com','HR',40000,'2012-01-01'),
('Vikram','Singh','vsingh@gmail.com', 'Data Science', 45000,'2014-04-01'),
('Digvijay','Pandey','dvpandey@gmail.com', 'HR', 80000,'2010-01-05'),
('Amitabh','Pillai','amitabh12pillai@yahoo.in', 'SDE', 50000,'2018-07-10'),
('Vipul','Mehta','vpl789mehta@gmail.com', 'Data Science', 65000,'2019-10-07'),
('Satish','Ranjan','sranjan456@yahoo.in', 'HR', 45000,'2018-07-10'),
('Saransh','Mahajan','sarmahajan@gmail.com', 'SDE', 80000,'2012-01-01')

SELECT * 
FROM Worker2

```

1. Write an SQL query to fetch intersecting records of two tables.



```
SELECT * FROM Worker
INTERSECT
SELECT * FROM Worker2

```

2. Write an SQL query to show records from one table that another table does not
have.



```

WITH new_table AS
(SELECT w.ID
FROM Worker w
RIGHT JOIN Worker2 w2
ON w.ID =w2.ID)

SELECT * 
FROM Worker
WHERE ID NOT IN (SELECT * FROM new_table)


```