# **Assignment - 7**

1. Write an SQL query to show only odd rows from aÂ table.



```

WITH new_table AS(
SELECT *, ROW_NUMBER() OVER (ORDER BY ID) row_no
FROM Worker)
SELECT * 
FROM new_table
WHERE new_table.row_no % 2 != 0

```

2. Write an SQL query to clone a new table from another table.



```

SELECT *
INTO Worker_Clone
FROM Worker

SELECT *
FROM Worker_Clone

```