## **Assignment - 1**

Creating a table for this exercise



```

CREATE TABLE Worker (ID INT PRIMARY KEY IDENTITY(1,1),
					 First_Name VARCHAR(20) NOT NULL,
					 Last_Name VARCHAR(20),
					 Email VARCHAR(40),
					 Department VARCHAR(20) NOT NULL,
					 Salary INT,
					 Joining_Date DATE)



```



```

INSERT INTO Worker VALUES 
('Ankita','Hazarika','ankitahaz@gmail.com','HR',40000,'2012-01-01'),
('Vikram','Singh','vsingh@gmail.com', 'Data Science', 45000,'2014-04-01'),
('Digvijay','Pandey','dvpandey@gmail.com', 'HR', 80000,'2010-01-05'),
('Amitabh','Pillai','amitabh12pillai@yahoo.in', 'SDE', 50000,'2018-07-10'),
('Vipul','Mehta','vpl789mehta@gmail.com', 'Data Science', 65000,'2019-10-07'),
('Satish','Ranjan','sranjan456@yahoo.in', 'HR', 45000,'2018-07-10'),
('Saransh','Mahajan','sarmahajan@gmail.com', 'SDE', 80000,'2012-01-01'),
('Shraddha','Das','shraddhadas@yahoo.in', 'IOT', 68000,'2018-08-19'),
('Preetisha','Srivastava', 'prsri123456@gmail.com', 'Data Science', 65000,'2020-01-08'),
('Kashish','Rai','k1478rai@gmail.com', 'IOT', 75000,'2020-01-08'),
('Suresh','Kaushik','suresh12kaush@gmail.com', 'HR', 75000,'2020-01-08'),
('Nithin','Kulkarni','nkulkar@gmail.com', 'HR', 65000,'2019-10-07'),
('Saurav','Rai','saurav987rai@gmail.com','Data Science', 75000,'2020-01-08'),
('Viha','Agarwal','agarwal12viha@gmail.com', 'SDE', 75000,'2020-01-08'),
('Sumit','Mehta','sumit123456@gmail.com', 'SDE',65000,'2019-10-07'),
('Nethra','Srinivas','k1478rai@gmail.com', 'HR', 65000,'2020-01-08'),
('Vidyut','Malik','vmalik@gmail.com', 'IOT', 75000,'2020-01-08'),
('Namita','Tiwari','tiwari.namita@gmail.com', 'HR', 75000,'2020-01-08'),
('Amogh','Chaturvedi','chatur12amogh@gmail.com', 'Data Science',65000,'2010-01-05'),
('Neha','Jalan','neha123456jalan@yahoo.in','Data Science', 50000,'2018-07-10'),
('Vishal','Rathore','vishalrathore@ineuron.com','Finance', 45000,'2018-02-12'),
('Rahul','Sarathe','rahulsarathe@ineuron.com','HR', 60000,  '2017-04-17'),
('Anisha','Gour','anishagour@ineuron.com','Purchase', 30000, '2017-12-20'),
('Saksham','Mahajan','sakshammahajan@ineuron.com','Finance', 60000, '2019-11-12'),
('Aakash','Singh','amansingh@ineuron.com','Purchase',30000,  '2017-09-05'),
('Ankit','Kumar','ankitkumar@ineuron.com','Marketing', 50000,  '2020-01-14'),
('Riya','Agarwal','riyaagarwal@ineuron.com','Finance', 45000, '2018-04-23'),
('Nishit','Sharma','nishitsharma@ineuron.com','Purchase', 48000, '2018-10-10'),
('Samay','Raina','samayraina@ineuron.com','Marketing', 36000,  '2017-08-22'),
('Aman','Singh','amansingh@ineuron.com','Finance', 45000,  '2017-08-12'),
('Sarthak','Jain','sarthakjain@ineuron.com','Purchase', 48000,  '2018-04-08'),
('Ashutosh','Patil','ashutoshpatil@ineuron.com','PR', 50000,  '2019-09-26'),
('Harshit','Kumar','harshitkumar@ineuron.com','HR', 40000,  '2018-06-05'),
('Ayush','Srivastav','ayushsrivastav@ineuron.com','Purchase', 30000,  '2018-08-24'),
('Shreyansh','Deriya','shreyanshderiya@ineuron.com','PR', 35000, '2017-07-13'),
('Aryan','Sharma','aryansharma@ineuron.com','Finance', 60000,  '2019-10-31'),
('Snehal','Reddy','snehalreddy@ineuron.com','HR', 40000, '2019-03-28'),
('Shubham','Mittal','shubhammittal@ineuron.com','PR', 35000,'2020-02-01'),
('Rakshit','Rao','rakshitao@ineuron.com','Marketing', 36000, '2018-11-30')



```

1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as &lt;WORKER_NAME&gt;.



```
SELECT First_Name AS 'WORKER_NAME' 
FROM Worker

```

2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.



```
SELECT DISTINCT(Department)
FROM Worker

```

3. Write an SQL query to show the last 5 record from a table.



```
SELECT TOP 5 * 
FROM Worker
ORDER BY ID DESC

```