## **Assignment - 5**

1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.



```
SELECT * 
FROM Worker
WHERE First_Name NOT IN ('Vipul', 'Satish')

```

2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with
‘h’ and contains six alphabets.



```

SELECT *
FROM Worker
WHERE First_Name LIKE ('_____h')


```

3. Write a query to validate Email of Employee.



```

SELECT *
FROM Worker
WHERE Email LIKE ('%_@_%._%')
AND PATINDEX('%[^a-z,0-9,@,.,_]%', REPLACE(Email,'-','a'))=0

```