# **Assignment - 10**

1. Write an SQL query to determine the 5th highest salary without using TOP or limit method.



```
SELECT DISTINCT(w1.[Salary]) AS [Fifth Highest Salary]
FROM Worker w1
WHERE 5-1 = 
(SELECT COUNT(DISTINCT w2.[Salary])
FROM Worker w2
WHERE w2.[Salary]> w1.[Salary])


```

2. Write an SQL query to fetch the list of employees with the same salary.



```

SELECT *
FROM Worker
WHERE [Salary] IN
(SELECT [Salary]
FROM Worker
GROUP BY [Salary]
HAVING COUNT(1) > 1)
ORDER BY [Salary]


```